*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


.All{
	display: flex;
    align-items: center;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color:  rgb(16, 7, 32);
	color: white;
	height: 100px;
}

.LOGO{
	font-family: BioRhyme, serif;
	display: flex;
	align-items: flex-start;
	padding-left: 12px;
	

}

header{
	position: relative;
}



.UL_NAV{
	display: flex;
	gap: 15px;
	margin: 15px;
}

.APP{
	display: flex;
	align-items: center;
	justify-content: space-between;
	border: solid 2px black;
	height: 50px;
	font-size: 20px;
	background-color: rgb(49, 8, 123);
	color: white;
	font-style: italic;
}



